<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bildkarusellen</title>
  <meta name="description" content="Bildkarusellen">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="/static/css/styles.css?v=1.0">

</head>

<!--
<form action="/backward/" method="post">
    <button name="previousButton" type="submit">Left</button>
</form>
-->

<a href="/backward/">
  <img src="{{prevImage}}" width="200" alt="Image2"/>
</a>
<img src="{{image}}" width="800" alt="Image2"/>
<a href="/forward/">
  <img src="{{nextImage}}" width="200" alt="Image2"/>
</a>

<!--
<form action="/forward/" method="post">
    <button name="previousButton" type="submit">Right</button>
</form>
-->

<img src="/myplot.png" alt="fail plot"/>

</html>
